Add form
<form method ="post" action="/animals/<%= @animal.id %>/edit">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= @animal.name  %>">





<input type="submit"  value="Submit">
    </select>


</form>
