Add form
<form method ="post" action="/owners/<%= @owner.id %>/add">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= @animal.name  %>">

<input type="submit"  value="Submit">
    </select>


</form>
