<h2>All Owners</h2>
<div class="animal">
<section>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <p class="btn--wrapper">
          <a class="btn btn--action" href="/owners/new">New Owner</a>
        </p>
      </tr>
    </thead>
    <tbody>
      <% @owners.each { |owner| %>
        <tr>
          <td> <a href="/owners/ <%= owner.id %>"><%=  owner.name %> </a></td>

        </tr>
        <% } %>
      </tbody>
    </table>
  </section>
</div>
