<h2>All Owners</h2>

<section>
  <table>
    <thead>
      <tr>
        <td>Name</td>

        <td>Contact Details</td>

      </tr>
    </thead>
    <tbody>
      <% @owners.each { |owner| %>
      <tr>
        <td> <a href="/owners/ <%= owner.id %>"><%=  owner.name %> </a></td>

        <td><%= owner.contact_details %></td>


      </tr>
      <% } %>
    </tbody>
  </table>
</section>
