<h1>Adoptions</h1>

<% for adoption in @adoptions  %>
<p>Owner id;<%= adoption.owner_id%></p>
<p>Animal id<%= adoption.animal_id  %></p>
<p>Adoption Date<%= adoption.adoption_date%></p>
<% end  %>


<p class="btn--wrapper">
  <a class="btn btn--action" href="/adoptions/new">Make an Adoption!</a>
</p>
