body {
  background-image: url(https://image.shutterstock.com/image-vector/cartoon-dogs-big-bone-260nw-450238315.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: blue;
  font-family: serif;
  padding: 0px;
  margin: 0px;
}
