body {
  background-image: url('/images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #CD0F29;
  font-family: serif;
  padding: 0px;
  margin: 0px;
}


h1{
  font-family: 'Likkle But Wi Tallawah Dog Shelter';
  margin: 0px;
  padding: 0px;
  font-size: 4em;
  color: #E2BA6A;
  margin-bottom: 20px;
  text-align: center;
}

h2{
  font-size: 2em;
  color: yellow;
  margin-bottom: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.animal {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 1.2em;


}
.animal {
  margin: 0;
  padding: 0;
  background: #79B0F9;

}
.new {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 1.2em;

}
.new {
  margin: 0;
  padding: 0;
  background: #79B0F9;
}
.colour {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 1.2em;

}
.owner {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 1.2em;
}
.owner {
  margin: 0;
  padding: 0;
  background: #79B0F9;
