<h2>All Animals</h2>

<section>
  <table>
    <thead>
      <tr>
        <td>Name</td>

        <p class="btn--wrapper">
          <a class="btn btn--action" href="/animals/new">New Animal</a>
        </p>
      </tr>
    </thead>
    <tbody>
      <% @animals.each { |animal| %>
        <tr>
          <td> <a href="/animals/ <%= animal.id %>"> <%= animal.name %></a></td>
          <td>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </section>
